* {
  box-sizing: border-box;
}

/*変数定義*/
$selection-color:#FFFF;
$selection-percentage:40px;
$selection-box-sizing:selection-box-sizing;
@mixin displayflex(){
  display: flex;
  align-items: center;
}

.wrapper{
  width: 100vw;
}

/*sidebar*/
.side_bar {
  width: 300px;
  box-sizing: selection-box-sizing;
  float: left;
  &__Menu{
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
    background-color: #253141;
    box-sizing: selection-box-sizing;
  }

  &__group{
    font-size: 15px;
    font-weight: bold;
    color: $selection-color;
    background-color: hsl(214, 27%, 25%);
    height: calc(100vh - 100px);
    padding: 20px 20px 0 20px;
    box-sizing: selection-box-sizing;
    &__block{
      box-sizing: selection-box-sizing;
      padding-bottom: $selection-percentage; 
       
      div.group_name{
        font-size: 15px;
        font-weight: bold;
        color: #FFFF;
        padding-bottom: 5px;
        text-decoration: none;
        }
      div.group_message{
        font-size: 11px;
        font-weight: bold;
        color: $selection-color;
        text-decoration: none;
        }
      }
    }
  }   

  .side_bar__Menu__block{
    @include displayflex();
    justify-content: space-between;
    box-sizing:  selection-box-sizing;
    height: 100%;
    p.username{
      font-size: 16px;
      font-weight: bold;
      color: $selection-color;
    }
    ul.icon{
      @include displayflex();
      list-style: none;
      justify-content: center;
      
    li.icon_cab a{
      color:$selection-color;
      padding-right: 5px;
    }
    li.icon_cog a{
      color: $selection-color;
      }
  }
}



/*main_chat.html*/
.main_messages{
  display: inline-block;
  float: right;
  width: calc(100vw - 300px);
  position: relative;
  div.header_message{
    display: flex;
    padding: 0 40px;
    height: 100px;
    overflow-x: scroll;
    overflow-y: scroll;
    div.group-menu{
      margin-top: 35px;
      justify-content: space-between;
      box-sizing: selection-box-sizing;
        h2.user-name{
        box-sizing: selection-box-sizing;
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 400;
        color: #333;
        }
        ul.group-name{
          list-style: none;
          display: flex;
          font-size: 12px;
          color: #999999;
        }
      }
      div.edit-btn__header{
        height: $selection-percentage;
        line-height: $selection-percentage;
        box-sizing: selection-box-sizing;
        align-items: center;
        border: solid ;
        color: #38aef0;
        padding: 0 20px;
        margin-top: 30px;
        right: $selection-percentage;
        position: absolute;
        display:block;
          li.edit-btn{
          color: #38aef0;
          list-style: none;
          .edit-btn{
          text-decoration: none;
          }
        } 
      }  
    } /*div.headr_message*/
  

  .main_contents__messages{
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 40px 40px;
  overflow-x: scroll;
  overflow-y: scroll;
  .upper-message {
    display: flex;
    &__user-name {
      color: $black;
      font-size: 16px;
      font-weight: bold;
      overflow-x: scroll;
      overflow-y: scroll;
    }
    &__date {
      color: $light_gray;
      font-size: 12px;
      padding-left: 10px;
      overflow-x: scroll;
      overflow-y: scroll;
    }
  }
  .lower-message {
    margin-top: 10px;
    &__body {
      color: $black;
      font-size: 14px;
      margin-bottom: 40px;
      overflow-x: scroll;
      overflow-y: scroll;
    }
  }
}

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}  
  